/* styles.css */
:root {
    --verde-claro: #a5c300;
    --verde-borde: #829741;
    --verde-accordion: #5E6827;
    --verde-oscuro: #3e4e0e;
}

body {
    font-family: 'Poppins';
    width: 1200px;
    margin: 0 auto;
    background-color: #FCFCF2;
    color: var(--verde-oscuro);
}

.nav-link,
.navbar-brand.logo-g {
    color: var(--verde-oscuro);

}

.navbar-brand.logo-g {
    font-size: 28px;
    font-weight: 800;
}

/* Efecto Hover para los enlaces del navbar */
.navbar-nav .nav-link {
    color: var(--verde-oscuro);
    ;
    /* Color inicial del texto */
    transition: all 0.3s ease;
    /* Transición suave */
    position: relative;
}

.navbar-nav .nav-link:hover {
    color: var(--verde-claro);
    /* Cambia el color del texto al hacer hover */
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    /* Línea justo debajo del texto */
    width: 0;
    height: 2px;
    background-color: var(--verde-claro);
    /* Color de la línea */
    transition: width 0.3s ease;
    /* Transición suave para la línea */
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    /* La línea se extiende completamente al hacer hover */
}


.hero,
.services,
.about-me,
.contact {
    margin-bottom: 0 !important;
}

.border-g {
    border: 1px solid var(--verde-borde);
}

a.nav-link {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
}

li.nav-item {
    margin-right: 30px;
}

.hero,
.services,
.about-me,
.contact {
    margin-bottom: 2rem;
}

.border {
    background-color: #f8f9fa;
    border-radius: 8px;
}

.footer {
    font-size: 0.875rem;
}

.title-custom-02 {
    font-size: 16px;
    font-weight: 800;
    color: var(--verde-claro);
    letter-spacing: 1.8px;
}

.list-group-item.active {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

h3.text-center {
    position: relative;
    z-index: 1;
    margin-bottom: 55px;
    font-weight: 800;
}

.font-weight-600 {
    font-weight: 700;
    font-size: 23px;
}

.span.letter {
    font-size: 35px;
}

.hero {
    position: relative;
    /* Necesario para posicionar elementos internos de forma absoluta */
}

.btn-custom {
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--verde-claro);
}

.btn-custom:hover {
    color: var(--verde-claro);
    background-color: white;
    border: 1px solid var(--verde-claro);
}

.border-custom{
    border-color: var(--verde-borde)!important;
}


div#list-tab .list-group-item.active {
    background-color: #3e4e0e !important;
    border-color: #3e4e0e !important;
}

div#nav-tabContent {
    background: white;
    padding: 20px 25px;
    border-radius: 20px;
    border: 1px solid  var(--verde-borde);
}

.resume-item {
    border-left: 2px solid var(--verde-borde);
    margin-top: -2px;
    padding: 0 0 20px 20px;
    position: relative;
}

.resume-item:before {
    background: var(--verde-borde);
    border: 2px solid var(--verde-borde);
    border-radius: 50px;
    content: "";
    height: 16px;
    left: -9px;
    position: absolute;
    top: 0;
    width: 16px;
}

.resume-title{
    font-weight: 700;
    font-size: 20px;
}

.resume-date{
    background: #d4f51c85;
    padding: 4px 10px;
    width: fit-content;
    border-radius: 15px;
}

.resume-title-02{
    font-size: 18px;
}

div#list-tab a{
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px 15px;
    border-radius: 15px;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 15%;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.whatsapp-btn img {
    width: 30px;
    height: 30px;
}


/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Clases generales para las imágenes */
.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    /* Duración y suavidad de la animación */
}

/* Retrasos para cada imagen según el orden */
.img-1 {
    animation-delay: 0.2s;
}

.img-2 {
    animation-delay: 0.4s;
}

.img-3 {
    animation-delay: 0.6s;
}

.img-4 {
    animation-delay: 0.8s;
}

.img-5 {
    animation-delay: 1s;
}

.sparkle {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    animation: twinkle 2s infinite;
    z-index: 1;
    /* Para que no queden detrás de otros elementos */
}

.sparkle-1 {
    top: 4%;
    left: 3%;
}

.sparkle-2 {
    top: 40%;
    right: 1%;
}

.sparkle-3 {
    bottom: 3%;
    left: 20%;
}

.sparkle-4 {
    top: 4%;
    right: 23%;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.8;
        transform: scale(1);
    }

    50% {
        opacity: 0.4;
        transform: scale(1.2);
    }
}