/* styles.css */
:root {
    --verde-claro: #a5c300;

}

body {
    font-family: 'Poppins';
    width: 1200px;
    margin: 0 auto;
    background-color: #FCFCF2;
    color: #3e4e0e !important;
}

.nav-link,
.navbar-brand.logo-g {
    color: #3e4e0e !important;

}

.navbar-brand.logo-g {
    font-size: 28px;
    font-weight: 800;
}

.hero,
.services,
.about-me,
.contact {
    margin-bottom: 0 !important;
}

.border-g {
    border: 1px solid #829741;
}

a.nav-link {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
}

li.nav-item {
    margin-right: 30px;
}

.hero,
.services,
.about-me,
.contact {
    margin-bottom: 2rem;
}

.border {
    background-color: #f8f9fa;
    border-radius: 8px;
}

.list-group-item.active {
    background-color: #063F8D;
    border-color: #063F8D;
}

.btn-primary {
    background-color: #DC1C2E;
    border-color: #DC1C2E;
}

.footer {
    font-size: 0.875rem;
}

.title-custom-02 {
    font-size: 16px;
    font-weight: 800;
    color: var(--verde-claro);
    letter-spacing: 1.8px;
}

.list-group-item.active {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

h3.text-center {
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
    font-weight: 800;
}

.font-weight-700 {
    font-weight: 500;
}

.span.letter {
    font-size: 35px;
}

/* h3.text-center::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(https://gabriielamp.github.io/assets/img/shapes/forma-fondo.png) no-repeat center center;
    background-size: cover;
    width: 200px;
    height: 100%;
    display: block!important;
    z-index: 1;
    opacity: 0.9;
} */